*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
arc-website-20150828.zip
arc-assets/plugins/wordfence/tmp
workspace.xml
arc-assets/uploads/ithemes-security/backups
arc-assets/backupwordpress-05a3085dbb-backups
arc-website-20151004.zip
arc-assets/updraft
watcherTasks.xml
ARCI/arc-assets/updraft
