$font-family-sans-serif: Lato, Sans-Serif;

/*** colors ***/
$gray-light-bg: #f6fafb;
$gray-bg: #edf1f2;

$read-more-color: #667a8a;
$line-color: #667a8a;

$header-bg: #cedbdf;

$header-color: #17232f;
$text-color: #17232f;
$subheader-color: #667a8a;

$home-header-color: #235d8a;

$menu-active-color: #41acff;